<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>My Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="assets/styles/my-login.css">
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="images/logo.jfif" alt="logo">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">
									Connexion</h4>
							<form method="POST" class="my-login-validation" novalidate="" action="/login">
								<%
								if(req.param("notif")){
									var notif = req.param("notif");
									var aff;
									if(notif == "ustr"){
										aff = "Vous pouvez vous connecter";
									}
									else if(notif == "trad"){
										aff = "Vous pouvez vous connecter en tant qu'administrateur";
									}
									else if(notif == "adfa"){
										aff = "Vous pouvez vous connecter en tant qu'utilisateur en attendant la confirmation de l'administrateur";
									}
									else if(notif == "fdp"){
										aff = "Mot de passe réinitialiser avec succée";
									}
									else{
										aff = notif;
									}
									%>
	
									<div class="form-text text-muted" style="color: red; font-size: 20px;">
										<%= aff %>
									</div>
									<%
									}
									%>
								<div class="form-group">
									<label for="email">Matricule</label>
									<input id="email" class="form-control" name="email" required autofocus>
									<div class="invalid-feedback">
										Matricule non valide
									</div>
								</div>

								<div class="form-group">
									<!-- <label for="password">Mot de passe
										<a href="#" id="mdp_oublier" class="float-right">
											Mot de passe oublié?
										</a>
									</label> -->
									<input id="password" type="password" class="form-control" name="password" required data-eye>
								    <div class="invalid-feedback">
								    	Password is required
									</div>
									<div class="mdp">

									</div>
								</div>
								<div id="avertir">

								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block" id="sub">
										Se connecter
									</button>
								</div>
								<!-- <div class="mt-4 text-center">
										Vous n'avez pas de compte? <a href="/creer_compte">Créer un compte</a>
								</div> -->
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2021 &mdash; Easytech
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="js/my-login.js"></script>
	<script>
		$("#mdp_oublier").click(function(e){
			e.preventDefault();
			$("#avertir").append(
				"<label class='rouge'>Avertir l'administrateur pour modifier votre mot de passe</label>"
			)
		}),

		$("#sub").click(function(e){
		$mdp = $("#password").val();
		if($mdp.length < 8){
			e.preventDefault();
			$(".mdp").append(
				"<label class='rouge'>Le mot de passe doit être composé de 8 caractères au minimum</label>"
			)
		}
})
	</script>
</body>
</html>
