<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w681">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Se connecter</h2>
                    <form method="POST" action="/login">
                        <div class="row row-space"> 
                            <div class="col-2">
                                
                                <div class="input-group">
                                    <label class="label">Matricule</label>
                                    <input class="input--style-4" type="text" name="matricule">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Mot de passe</label>
                                    <input class="input--style-4" type="Password" name="password">
                                </div>
                            </div>
                            
                        </div>
                        
                        <%
                            if(req.param("notif")){
                                var notif = req.param("notif");
                                var aff;
                                if(notif == "ustr"){
                                    aff = "Vous pouvez vous connecter";
                                }
                                else if(notif == "trad"){
                                    aff = "Vous pouvez vous connecter en tant qu'administrateur";
                                }
                                else if(notif == "adfa"){
                                    aff = "Vous pouvez vous connecter en tant qu'utilisateur en attendant la confirmation de l'administrateur";
                                }
                        %>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label"><%= aff %></label>
                                </div>
                            </div>                           
                        </div>
                        <%
                        }
                        %>

                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Se connecter</button>
                            <a href="/creer_compte" class="btn btn--radius-2 btn--blue" style="text-decoration:none;">Inscription</a>
                        </div>
                        <div class="p-t-15">
                    
                            <a href="/mdp_oublier"  style="text-decoration:none;">Mot de passe oublié ?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

    