<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    
    <link href="css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w681">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Réinitialiser mot de passe</h2>
                    <form method="POST" action="/mdp_oublier" id="form">
                        <div class="row row-space"> 
                            <div class="col-2">
                               
                                <div class="input-group">
                                    <label class="label">Matricule</label>
                                    <input class="input--style-4" type="text" name="matricule">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Nouveau mot de passe</label>
                                    <input class="input--style-4" type="Password" name="password" id="password">
                                    
                                </div>
                                <label class="label">Confirmer mot de passe</label>
                                <input class="input--style-4" type="Password" name="cpassword" id="cpassword">
                                <div class="help-block"><span id="errorValidation">Plus de 6 caractéres</span> </div>
                            </div>
                            
                        </div>
                       
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Confirmer</button> 
                        </div>
            
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
    </script>

    <script>
        // Wait for the DOM to be ready
    $('#form').submit(function(event){
        
        var mdp = $('#password').val();
        var mdp2 = $('#cpassword').val();
        if(mdp != mdp2){
            event.preventDefault()
            $('#password').val('');
            $('#cpassword').val('');
            $('#password').focus();
            $('#errorValidation').text('Confirmation mot de passe incorrecte').css( "color", "red" );
            return false;
        }

    })
    </script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->