<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>My Login Page &mdash; Bootstrap 4 Login Page Snippet</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles/my-login.css">
</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="images/logo.jfif" alt="bootstrap 4 login page">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Réinitialiser le mot de passe</h4>
							<form method="POST" class="my-login-validation" novalidate="" action="/mdp_oublier" id="form">
								<div class="form-group">
									<label for="email">Matricule</label>
									<input id="email" class="form-control" name="matricule" value="" required autofocus>
									<div class="invalid-feedback">
										Matricule is invalid
									</div>
								</div>
								<div class="form-group">
									<label for="new-password">Nouveau mot de passe</label>
									<input id="new-password" type="password" class="form-control" name="password" required autofocus data-eye>
									<div id="new_mdp">

									</div>
									<label for="new-password">Confirmation mot de passe</label>
									<input id="cpassword" type="password" class="form-control" name="cpassword" required autofocus data-eye>
									<div class="invalid-feedback">
										Password is required
									</div>
									<div class="form-text text-muted" id="note">
										Assurez-vous que votre mot de passe est solide et facile à retenir
									</div>
								</div>									
								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block" id="sub">
										Confirmer
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2020 &mdash; Easytech
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="js/my-login.js"></script>
	<script>
		
	$("#sub").click(function(e){
		$mdp1 = $("#new-password").val();
		$mdp2 = $("#cpassword").val();
		if($mdp1.length < 8){
			e.preventDefault();
			$("#new_mdp").append(
				"<label class='rouge'>Le mot de passe doit être composé de 8 caractères au minimum</label>"
			)
		}
		else if($mdp1 != $mdp2){
			e.preventDefault();
			$("#note").empty();
			$("#note").append(
				"<label class='rouge'>Confirmation mot de passe incorrecte</label>"
			)
		}
		else{
			alert("Mot de passe réinitialiser avec succée");
		}
	})
	</script>
</body>
</html>