<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w681">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Pour télécharger le fichier excel</h2>
                <div class="">
                    <div >
                        <div class="input-group">
                            <label class="label"><a href="/dashboard">Cliquer ici</a> </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
